spring:
  datasource:
    url: jdbc:mysql://localhost:3306/smart_wardrobe?useUnicode=true&characterEncoding=utf-8&serverTimezone=UTC
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver
  jackson:
    serialization:
      WRITE_DATES_AS_TIMESTAMPS: false
mybatis-plus:
  configuration:
    map-underscore-to-camel-case: true
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
  global-config:
    db-config:
      id-type: auto
jwt:
  secret: c21hcnQtd2FyZHJvYmUtc2VjcmV0LXNob3VsZC1iZS1iYXNlNjQ=
  expiration: 86400000
logging:
  level:
    com.smartwardrobe: INFO
server:
  port: 8080
file:
  upload-dir: uploads
